$navbar-brand-wrapper-mini-width: 70px;
$menu-break-point: 1020px;
$horizontal-navbar-height: 135px;
$horizontal-top-bg : #1F2127;
$horizontal-top-navbar-height: 70px;
$horizontal-menu-padding: 0 1rem;
$horizontal-menu-height:  97px;
$horizontal-top-menu-item-color: #b1b1b5;
$horizontal-top-font-size: 1rem;
$horizontal-bottom-bg: #1F2127;
$horizontal-bottom-menu-item-color: #8c909a;
$horizontal-bottom-menu-item-icon-color: #8c909a;
$horizontal-bottom-menu-item-active-color: #fff;
$horizontal-menu-submenu-color: #202339;
$horizontal-bottom-menu-item-font-size: .875rem;
$horizontal-bottom-menu-item-hover-bg: transparent;
$success:#34B1AA;
$horizontal-bottom-menu-item-hover-color: $success;
$horizontal-menu-item-padding: .75rem 0;
$horizontal-menu-icon-font-size: 1rem;
$horizontal-menu-submenu-item-padding: .85rem 0;
$horizontal-menu-box-shadow: 0 19px 34px -15px #1e1e2f;

$sidebar-width-icon: 70px; 
$navbar-menu-icon-color:#fff;

$buy-nowbanner-padding-top:97px;